img {
  width: 100%;
}

.full-width {
  width: 100%;
}

.padding-h-2 {
  padding: 0 20px;
}

.padding-v-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.margin-top-2 {
  margin-bottom: 20px;
}

.margin-v-4 {
  margin: 40px 0;
}

.uppercase {
  text-transform: uppercase;
}

.halfwidth {
  width: 50%;
}

.App {
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.nav {
  position: absolute;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.nav .nav--flex {
  display: flex;
  justify-content: space-between;
}

.nav .nav__link {
  text-decoration: none;
  color: white;
}
